*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: poppins;
}

.container-fluid{
    height: 100vh;
    width: 100px;
    background-color: url("./img/background.jpeg"),rgba(0, 0, 0,659);
    background-size: cover; 
    background-blend-mode: overlay;
    
    position: relative;

}

.container{
    padding: 30%;
    width: 400px;
    margin: auto;
    background-color: white;
    border-radius: 10px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
 
.formimg{
    width: 300px;
}

.row{
    margin-top: 18%;
}

.col{
    display: inline-block;
    width: 50px;
    padding: 0%,9%;

}

.bigcol{
    padding: 0%;
    text-align: start;
}

.input{
    padding: 15px;
    width: 100%;
    border-radius: 6%;
    border: 1px solid gray;
    font-size: 15px;
}

.btn{
    width: 120%;
    padding: 8px,10px;
    font-size: 16%;
    border-radius: 15%;
    color: white;
    background-color: linear-gradient(to right,#242424, #1A4D2E);
}

